In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data = pd.read('DATAJKT.csv')
data.head()

AttributeError: module 'pandas' has no attribute 'read'

In [3]:
data = pd.read_csv('DATAJKT.csv')
data.head()

,tahun,nama_provinsi,nama_kabupaten/kota,nama_kecamatan,nama_kelurahan,jumlah_rt,jumlah_rw
0,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. PANGGANG,29,5
1,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. KELAPA,31,5
2,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU UTR,P. HARAPAN,15,3
3,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. UNTUNG JAWA,9,3
4,2013,PROVINSI DKI JAKARTA,KAB.ADM.KEP.SERIBU,KEP. SERIBU SLT,P. TIDUNG,29,4

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tahun                267 non-null    int64
 1   nama_provinsi        267 non-null    object
 2   nama_kabupaten/kota  267 non-null    object
 3   nama_kecamatan       267 non-null    object
 4   nama_kelurahan       267 non-null    object
 5   jumlah_rt            267 non-null    int64
 6   jumlah_rw            267 non-null    int64
dtypes: int64(3), object(4)
memory usage: 14.7+ KB

In [5]:
data['date'].unique()

KeyError: 'date'

In [6]:
data['tahun'].unique()

array([2013], dtype=int64)

In [7]:
tahun = '2013'
data[data['tahun']==tahun]

Empty DataFrame
Columns: [tahun, nama_provinsi, nama_kabupaten/kota, nama_kecamatan, nama_kelurahan, jumlah_rt, jumlah_rw]
Index: []